{% extends 'polls/base.html' %}
{% block title %}Components{% endblock %}
{% block body %}


        <h1 align="center">Components:</h1>
<h4 align="center">Guidelines:  Below you may find a list of all the components in the system.</h4>
<h4 align="center">Component is a raw material which is being chosen by the user in complex products, e.g salad.</h4>
<h4 align="center">You may use the search function to search for a component, click the "Add" button to add new or click one to see more details.</h4>
    <div class="form-group" align="center">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="myButton" class="float-left submit-button" >Add</button>

            <script type="text/javascript">
                document.getElementById("myButton").onclick = function () {
                    location.href ="{% url 'polls:components-add' %}";
                };
            </script>
            </div>
    </div>
    <br>
    <form class="form-inline my-2 my-lg-1" method="GET" action="{% url 'polls:components_search' %}" align="center">

                <input type="text" class="form-control mr-sm-2" name="q" value="{{ request.GET.q }}"
                       placeholder="Search Components" aria-label="Search">
                <input type="submit" value="Search"></input>

    </form>
    <ul align="center">
            {% for components in all_componentss %}
                    <li class="list-group-item"><a href="{% url 'polls:components_detail' components.pk %}">{{ components.get_name }}</a></li>
            {% endfor %}
    </ul>
    <div class="pagination" align="center">
            <span class="step-links">
                {% if all_componentss.has_previous %}
                    <a href="?{{ page_request_var }}={{ all_componentss.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ all_componentss.number }} of {{ all_componentss.paginator.num_pages }}.
                </span>

                {% if all_componentss.has_next %}
                    <a href="?{{ page_request_var }}={{ all_componentss.next_page_number }}&q={{ request.GET.q }}">next</a>
                {% endif %}
            </span>
    </div>
{% endblock %}