{% extends 'polls/base.html' %}
{% block title %}Components Details{% endblock %}

{% block body %}
<h2 align="center" style="font-size: 60px; font-family:Courier ">{{ components.get_name }}</h2>

<h4 >Below you may find a specific component details.</h4>
<h4 >If you would like to make a change in the details, click the "Change" button.</h4>
<br>
        <h2 style="padding-left: 180px;">Part:  {{ components.part }}</h2>
        <h2 style="padding-left: 180px;">Quantity :  {{ components.quant }}</h2>
        <h2 style="padding-left: 180px;">Product:  {{ components.product }}</h2>
    <ul style=" padding-left:180px;">

        <a class="example_b"  href="{% url 'polls:components_update' components.pk %}"  rel="nofollow noopener">Change</a>

    </ul>


{% endblock %}
