{% extends 'polls/base.html' %}
{% block title %}Messages{% endblock %}
{% block body %}


        <h1 align="center">Messages:</h1>
    <form class="form-inline my-2 my-lg-1" method="GET" action="{% url 'polls:contact_search' %}" align="center">

                <input type="text" class="form-control mr-sm-2" name="q" value="{{ request.GET.q }}"
                       placeholder="Search Messages" aria-label="Search">
                <input type="submit" value="Search"></input>

    </form>
    <ul align="center">
            {% for contact in all_contacts %}
                    <li class="list-group-item"><a href="{% url 'polls:contact_detail' contact.pk %}">{{ contact.get_name }}</a></li>
            {% endfor %}
    </ul>
    <div class="pagination" align="center">
            <span class="step-links">
                {% if all_contacts.has_previous %}
                    <a href="?{{ page_request_var }}={{ all_contacts.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ all_contacts.number }} of {{ all_contacts.paginator.num_pages }}.
                </span>

                {% if all_contacts.has_next %}
                    <a href="?{{ page_request_var }}={{ all_contacts.next_page_number }}&q={{ request.GET.q }}">next</a>
                {% endif %}
            </span>
    </div>
{% endblock %}