{% extends 'polls/base.html' %}
{% block title %}Extras Details{% endblock %}

{% block body %}

<h2 align="center" style="font-size: 60px; font-family:Courier ">{{ newextra.get_name }}</h2>
<h4 style="padding-left:180px ">Below you may find a specific extra details.</h4>
<h4 style="padding-left: 180px">If you would like to make a change in the details, click the "Change" button.</h4>
<br>
        <h2 style="padding-left: 180px">Part:  {{ newextra.extra_part }}</h2>
        <h2  style="padding-left: 180px">Price:  {{ newextra.extra_price }}</h2>
        <h2  style="padding-left: 180px">Product:  {{ newextra.extra_product }}</h2>



   <ul style=" padding-left:180px;">

        <a class="example_b"  href="{% url 'polls:newextra_update' newextra.pk %}"  rel="nofollow noopener">Change</a>

    </ul>
{% endblock %}