{% block content %}
{%load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{%static 'polls/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{%static 'polls/button.css' %}"/>
{% if request.user.is_superuser %}
                <div class="sidenav">
                     <a href="{%url 'polls:adminsite'%}" class="w3-bar-item w3-button">Home Page</a>
                        <div class="w3-dropdown-content w3-bar-block">
                          <a href="{%url 'polls:order_index' %}" class="w3-bar-item w3-button"> Order</a>
                          <a href="{% url 'polls:product_index' %}" class="w3-bar-item w3-button"> Product</a>
                          <a href="{% url 'polls:part_index' %}" class="w3-bar-item w3-button"> Part</a>
                          <a href="{% url 'polls:pip_index' %}" class="w3-bar-item w3-button"> Part to Product</a>
                          <a href="{% url 'polls:components_index' %}" class="w3-bar-item w3-button"> Component</a>
                          <a href="{% url 'polls:newextra_index' %}" class="w3-bar-item w3-button"> Extra</a>
                          <a href="{% url 'polls:supplier_index' %}" class="w3-bar-item w3-button"> Supplier</a>
                          <a href="{% url 'polls:supprice_index' %}" class="w3-bar-item w3-button"> Supplier Price</a>
                          <a href="{% url 'polls:pord_index' %}" class="w3-bar-item w3-button"> Purchase Orders</a>
                          <a href="{% url 'polls:porderitem_index' %}" class="w3-bar-item w3-button"> Purchase Order Items</a>
                            <a href="{% url 'polls:inventory' %}" class="w3-bar-item w3-button"> Inventory</a>
                            <a href="{% url 'polls:busytime' %}" class="w3-bar-item w3-button"> Data Of Busy Time</a>
                            <a href="{% url 'polls:orders_upload' %}" class="w3-bar-item w3-button"> Orders CSV Upload</a>
                            <a href="{% url 'polls:contact_index' %}" class="w3-bar-item w3-button"> Messages</a>
                        </div>
                    <a href="{% url 'polls:login' %}">Logout</a>
                    <a></a><a></a>
                </div>
{%else%}
    <div class="sidenav">
        <a href="{%url 'polls:index'%}">Home Page</a>
        <a href="{% url 'polls:order_costumer' %}">Order</a>
        <a href="{% url 'polls:contact' %}">Contact</a>
        <a href="{% url 'polls:login' %}">logout</a>
    </div>
{%endif%}
{% endblock %}
<div class=main>
    <html>
        <head>
            <meta http-equiv="Content-type" content="text/html; charset=utf-8">
            <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
        </head>
        <style>
            html, body { font-family: "Lato", sans-serif;}
            .form-group {margin-left: 160px; padding: 0px 10px; }
            .main {margin-left: 160px; padding: 0px 10px; }
            .sidenav { 
                height: 100%; width: 170px; position: fixed; z-index: 1; 
                top: 0; left: 0; background-color: #111; 
                overflow-x: hidden; padding-top: 20px;
            }
            .sidenav a { padding: 6px 8px 6px 16px; text-decoration: none; font-size: 20px; color: #818181; display: block; }
            .sidenav a:hover { color: #f1f1f1; }
            h1 { font-family: Arial, Helvetica, sans-serif; font-size:40px; margin-top: 20px; 
            color: #1f1f47; margin-bottom: 10px; 
            }
        </style>
    {% block body %}
<h2 align="center" style="font-size: 60px; font-family:Courier ">Order Detail</h2>
        <h4 style="font-family:Courier" >Guidelines:  Below you may find a specific order details.</h4>
        <h4 style="font-family:Courier">If you would like to make a change in the details, click the "Change" button.</h4>
        {% if request.user.is_superuser %}
            <h2>User:  {{ order.user }}</h2>
        {%endif%}
        <h2>Order Date: {{ order.orderDate }} | Order Pick: {{ order.orderPick }}</h2>
        <h2>Status: {{ order.orderStatus }} | Remarks: {{ order.remarks }}</h2>
        <h2>Product:  {{ order.product1 }}  | Supplied?:  {{ order.ifSupplied }} </h2>
        {% if order.component1 %}
            <h2>Components: {{ order.component1.part }} | {{ order.component2.part }} | {{ order.component3.part }} | {{ order.component4.part }} | {{ order.component5.part }} </h2>
        {%endif%}
        {% if order.extra1 or order.extra2 or order.extra3 %}
            <h2> Extras:  {{ order.extra1.extra_part }} | {{ order.extra2.extra_part }} | {{ order.extra3.extra_part }} </h2>
        {%endif%}
    </html>
</div>
{% if request.user.is_superuser %}
<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="example_b" >Change</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:order_update' order.pk %}";
            };
        </script>
        </div>
</div>
{%endif%}
{% endblock %}

