{% extends 'polls/base.html' %}
{% block title %}Orders{% endblock %}
{% block body %}

<h2 align="center" style="font-size: 55px; font-family:Courier ">Orders </h2>
<h4>Choose the user from the customer list. Order pick is the requested pickup time by customer.</h4>
<h4>Choose order status from: Waiting/Ready/Take. If the order supplied check the box.</h4>
<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
        <a class="example_b" href="{% url 'polls:order-add' %}"  >Add new Order</a>


        </div>
</div>
    <br>
    <form class="form-inline my-2 my-lg-1" method="GET" action="{% url 'polls:order_search' %}" align="center">

                <input type="text" class="form-control mr-sm-2" name="q" value="{{ request.GET.q }}"
                       placeholder="Search Orders" aria-label="Search">

    </form>
    <ul style=" padding-left:180px;">
            {% for order in all_orders %}<br>
        <geti style="font-size: 18px;"><b>{{ order.get_name }}{{order.get_details}}</b></geti>
<br>
        <a class="example_a" href="{% url 'polls:order_detail' order.pk %}"  rel="nofollow noopener">more details</a>
       <a class="example_a" href="{% url 'polls:queue_update' order.pk %}"  rel="nofollow noopener">remove</a>

                <br>
            {% endfor %}
    </ul>
    {% if is_paginated %}
    <div class="pagination" align="center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">previous;</a></li>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">next;</a></li>
                {% endif %}
            </span>
    </div>
    {% endif %}
{% endblock %}