{% extends 'polls/base.html' %}
{% block title %}Orders{% endblock %}
{% block body %}

    <h1 align="center">Orders:</h1>
<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="float-left submit-button" >Add</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:order-add' %}";
            };
        </script>
        </div>
</div>
    <br>
    <form class="navbar-form navbar-left" role="search" method="get" action="#" align="center">
        <div class="form-group">
            <input typr="text" class="form-control" name="q" value="">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
    <ul align="center">
        {% for order in all_orders %}
            <li><a href="{% url 'polls:order_detail' order.pk %}">{{ order.get_name }} {{order.product}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}