{% extends 'polls/base.html' %}
{% block title %}Part Details{% endblock %}

{% block body %}

        <h1 align="center"> </h1>
        <h1 align="center"> </h1>
        <h1 align="center"> </h1>
        <h1 align="center"> {{ part.get_name }}</h1>
<h4 align="center">Guidelines:  Below you may find a specific part details.</h4>
<h4 align="center">If you would like to make a change in the details, click the "Change" button.</h4>
<br>
        <h2 align="center">Description:  {{ part.pdes }}</h2>
        <h2 align="center">Unit:  {{ part.unit }}</h2>
        <h2 align="center">Stock:  {{ part.stock }}</h2>
        <h2 align="center">Lead Time:  {{ part.lt }}</h2>
        <h2 align="center">SS High:  {{ part.sshigh }}</h2>
        <h2 align="center">SS Low:  {{ part.sslow }}</h2>


<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="float-left submit-button" >Change</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:part_update' part.pk %}";
            };
        </script>
        </div>
</div>
{% endblock %}

