{% extends 'polls/base.html' %}
{% block title %}PartsInProduct{% endblock %}
{% block body %}

    <h1 align="center">PartsInProducts:</h1>
<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="float-left submit-button" >Add</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:pip-add' %}";
            };
        </script>
        </div>
</div>
    <br>
    <form class="form-inline my-2 my-lg-1" method="GET" action="{% url 'polls:pip_search' %}" align="center">

                <input type="text" class="form-control mr-sm-2" name="q" value="{{ request.GET.q }}"
                       placeholder="Search Parts In Product" aria-label="Search">
                <input type="submit" value="Search"></input>

    </form>
    <ul align="center">
            {% for pip in all_pips %}
                    <li class="list-group-item"><a href="{% url 'polls:pip_detail' pip.pk %}">{{ pip.get_name }}</a></li>
            {% endfor %}
    </ul>
    <div class="pagination" align="center">
            <span class="step-links">
                {% if all_pips.has_previous %}
                    <a href="?{{ page_request_var }}={{ all_pips.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ all_pips.number }} of {{ all_pips.paginator.num_pages }}.
                </span>

                {% if all_pips.has_next %}
                    <a href="?{{ page_request_var }}={{ all_pips.next_page_number }}&q={{ request.GET.q }}">next</a>
                {% endif %}
            </span>
    </div>
{% endblock %}