{% extends 'polls/base.html' %}
{% block title %}PartsInProduct Details{% endblock %}

{% block body %}

        <h1 align="center"> </h1>
        <h1 align="center"> </h1>
        <h1 align="center"> </h1>
        <h1 align="center"> {{ pip.get_name }}</h1>
<h4 align="center">Guidelines:  Below you may find a specific "parts in product" details.</h4>
<h4 align="center">If you would like to make a change in the details, click the "Change" button.</h4>
<br>
        <h2 align="center">Part:  {{ pip.part }}</h2>
        <h2 align="center">Quantity:  {{ pip.quant }}</h2>
        <h2 align="center">Product:  {{ pip.product }}</h2>


<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="float-left submit-button" >Change</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:pip_update' pip.pk %}";
            };
        </script>
        </div>
</div>
{% endblock %}

