{% extends 'polls/base.html' %}
{% block title %}Purchase Order Item{% endblock %}
{% block body %}

    <h1 align="center">Purchase Order Item:</h1>
<h4 align="center">Guidelines:  Below you may find a list of all the purchase order items in the system.</h4>
<h4 align="center">Purchase order item is a where we add parts to an existing purchase order.</h4>
<h4 align="center">You may use the search function to search for a purchase order item, click the "Add" button to add new or click one to see more details.</h4>
<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="float-left submit-button" >Add</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:porderitem-add' %}";
            };
        </script>
        </div>
</div>
    <br>
    <form class="form-inline my-2 my-lg-1" method="GET" action="{% url 'polls:porderitem_search' %}" align="center">

                <input type="text" class="form-control mr-sm-2" name="q" value="{{ request.GET.q }}"
                       placeholder="Search Purchase Order Items" aria-label="Search">
                <input type="submit" value="Search"></input>

    </form>
    <ul align="center">
            {% for porderitem in all_porderitems %}
                    <li class="list-group-item"><a href="{% url 'polls:porderitem_detail' porderitem.pk %}">{{ porderitem.get_name }}</a></li>
            {% endfor %}
    </ul>
    <div class="pagination" align="center">
            <span class="step-links">
                {% if all_porderitems.has_previous %}
                    <a href="?{{ page_request_var }}={{ all_porderitems.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ all_porderitems.number }} of {{ all_porderitems.paginator.num_pages }}.
                </span>

                {% if all_porderitems.has_next %}
                    <a href="?{{ page_request_var }}={{ all_porderitems.next_page_number }}&q={{ request.GET.q }}">next</a>
                {% endif %}
            </span>
    </div>
{% endblock %}