{% extends 'polls/base.html' %}
{% block title %}Purchase Order Item Details{% endblock %}

{% block body %}

        <h1 align="center"> {{ porderitem.get_name }}</h1>
<h4 align="center">Guidelines:  Below you may find a specific purchase order items details.</h4>
<h4 align="center">If you would like to make a change in the details, click the "Change" button.</h4>
<br>
        <h2 align="center">Purchase Order:  {{ porderitem.porder }}</h2>
        <h2 align="center">Part:  {{ porderitem.part }}</h2>
        <h2 align="center">Quantity:  {{ porderitem.quant }}</h2>


<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="float-left submit-button" >Change</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:porderitem_update' porderitem.pk %}";
            };
        </script>
        </div>
</div>
{% endblock %}