{% extends 'polls/base.html' %}
{% block title %}Product Details{% endblock %}
{% block body %}

        <h1 align="center"> {{ product.pdes }}</h1>
        <h2 align="center">Price:  {{ product.price }}</h2>
        <h2 align="center">Preparation Time (minutes):  {{ product.prep }}</h2>


<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="float-left submit-button" >Change</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:product_update' product.pk %}";
            };
        </script>
        </div>

                        <form action="{% url 'polls:product_delete' product.pk %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="product pk" value="{{ product.pk }}"/>
                            <button type="submit" class="btn btn-default btn-sm"> Delete
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>

</div>
{% endblock %}