{% extends 'polls/base.html' %}
{% block title %}Products{% endblock %}
{% block body %}


        <h1 align="center">Products:</h1>
<h4 align="center">Guidelines:  Below you may find a list of all the products in the system.</h4>
<h4 align="center">Product is what we sell to customers, and is shown on our menu. Each product consists of parts.</h4>
<h4 align="center">You may use the search function to search for a product, click the "Add" button to add new or click one to see more details.</h4>
    <div class="form-group" align="center">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="myButton" class="float-left submit-button" >Add</button>

            <script type="text/javascript">
                document.getElementById("myButton").onclick = function () {
                    location.href ="{% url 'polls:product-add' %}";
                };
            </script>
            </div>
    </div>
    <br>
    <form class="form-inline my-2 my-lg-1" method="GET" action="{% url 'polls:product_search' %}" align="center">

                <input type="text" class="form-control mr-sm-2" name="q" value="{{ request.GET.q }}"
                       placeholder="Search Products" aria-label="Search">
                <input type="submit" value="Search"></input>

    </form>
    <ul align="center">
            {% for product in all_products %}
                    <li class="list-group-item"><a href="{% url 'polls:product_detail' product.pk %}">{{ product.get_name }}</a></li>
            {% endfor %}
    </ul>
    <div class="pagination" align="center">
            <span class="step-links">
                {% if all_products.has_previous %}
                    <a href="?{{ page_request_var }}={{ all_products.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ all_products.number }} of {{ all_products.paginator.num_pages }}.
                </span>

                {% if all_products.has_next %}
                    <a href="?{{ page_request_var }}={{ all_products.next_page_number }}&q={{ request.GET.q }}">next</a>
                {% endif %}
            </span>
    </div>
{% endblock %}