{% extends 'polls/base.html' %}
{% block title %}Supplier Details{% endblock %}

{% block body %}

        <h1 align="center"> </h1>
        <h1 align="center"> </h1>
        <h1 align="center"> </h1>
        <h1 align="center"> {{ supplier.get_name }}</h1>
<h4 align="center">Guidelines:  Below you may find a specific supplier details.</h4>
<h4 align="center">If you would like to make a change in the details, click the "Change" button.</h4>
<br>
        <h2 align="center">Description:  {{ supplier.name }}</h2>
        <h2 align="center">Address:  {{ supplier.address }}</h2>
        <h2 align="center">Telephone:  {{ supplier.tel }}</h2>
        <h2 align="center">Email:  {{ supplier.mail }}</h2>


<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="float-left submit-button" >Change</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:supplier_update' supplier.pk %}";
            };
        </script>
        </div>
</div>
{% endblock %}

