{% extends 'polls/base.html' %}
{% block title %}Supplier Price{% endblock %}
{% block body %}

    <h1 align="center">Supplier Price:</h1>
<h4 align="center">Guidelines:  Below you may find a list of all the supplier prices in the system.</h4>
<h4 align="center">Supplier price is where we insert the price a specific supplier gave us for a part.</h4>
<h4 align="center">You may use the search function to search for a supplier price, click the "Add" button to add new or click one to see more details.</h4>
<div class="form-group" align="center">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="myButton" class="float-left submit-button" >Add</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href ="{% url 'polls:supprice-add' %}";
            };
        </script>
        </div>
</div>
    <br>
    <form class="form-inline my-2 my-lg-1" method="GET" action="{% url 'polls:supprice_search' %}" align="center">

                <input type="text" class="form-control mr-sm-2" name="q" value="{{ request.GET.q }}"
                       placeholder="Search Supplier Prices" aria-label="Search">
                <input type="submit" value="Search"></input>

    </form>
    <ul align="center">
            {% for supprice in all_supprices %}
                    <li class="list-group-item"><a href="{% url 'polls:supprice_detail' supprice.pk %}">{{ supprice.get_name }}</a></li>
            {% endfor %}
    </ul>
    <div class="pagination" align="center">
            <span class="step-links">
                {% if all_supprices.has_previous %}
                    <a href="?{{ page_request_var }}={{ all_supprices.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ all_supprices.number }} of {{ all_supprices.paginator.num_pages }}.
                </span>

                {% if all_supprices.has_next %}
                    <a href="?{{ page_request_var }}={{ all_supprices.next_page_number }}&q={{ request.GET.q }}">next</a>
                {% endif %}
            </span>
    </div>
{% endblock %}